@mixin transition($property, $duration) {
    -moz-transition: $property #{$duration}ms cubic-bezier(0, 0, 0.21, 1.18);
    -o-transition: $property #{$duration}ms cubic-bezier(0, 0, 0.21, 1.18);
    -webkit-transition: $property #{$duration}ms cubic-bezier(0, 0, 0.21, 1.18);
    transition: $property #{$duration}ms cubic-bezier(0, 0, 0.21, 1.18);
    -ms-transition: $property #{$duration}ms cubic-bezier(0, 0, 0.21, 1.18);
}

@mixin bg-image() {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {
            @content;
        } // 37.5 x 16px = 600px
    }
    @if $breakpoint == tablet {
        @media only screen and (min-width: 48em) {
            @content;
        } // 48 * 16px = 768px
    }
    @if $breakpoint == desktop {
        @media only screen and (min-width: 75em) {
            @content;
        } // 75 * 16px = 1200px
    }
}
