$version: "1.0.0";

// Variables x Bootstrap Overrides
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$white:                                   #fff !default;
$black:                                   #000 !default;
$grey:                                    #F7F6FB;

$montserrat-regular:                      'Montserrat', sans-serif;